* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tea {
    background-color: #301907;
}

.tea_box {
    min-height: 100vh;
    font-family: sans-serif;
    padding: 20px;
}

.tea_title {
    text-align: center;
    color: #92875b;
    font-size: 37px;
    font-weight: 300;

}

.search_row {
    display: flex;
    justify-content: center;
    margin-top: 15px;
    
    height: 50px;
}

.search_input {
    border: none;
    outline: none;
    background-color: #573115;
    border-radius: 60px;
    padding: 20px;
    color:#ffffff;
    width: 50%;
    font-size: 20px;
}

.search_butt {
    
    cursor: pointer;
    border: none;
    outline: none;
    font-size: 16px;
    background-color:  #91562c;
    border-radius: 50px;
    color: #5f2b18;
    margin-left: 5px;
    padding: 10px;
}

.rectangle {
    display: block;
    border: 6px solid #91562c;
    margin: 50px;
   padding: 10px;
   background-color: rgb(245, 226, 157);
   height: 300px;
   width: 200px;
   border-radius: 20px;
   cursor: pointer;

}


.rec_input {
    display: block;
    width: 105px;
    height: 35px;
    padding: 5px;
    margin-top: 224px;
    margin-left: 35px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: transparent;
    text-align: center;
}

input[type=file] {
    display: none;

}

label {
    position: fixed;
    height: 75px;
    width: 75px;
    background-color: #671700;
    display: block;
    cursor: pointer;
    border-radius: 10px;
    border: 3px solid black;
    top: 31%;
    left: 6.98%;
}

.line1 {
    position: absolute;
    width: 50px;
    height: 5px;
    background-color: black;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100px;
}

.line2 {
    content: '';
    position: absolute;
    width: 5px;
    height: 50px;
    background-color: black;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100px;
}

.add_card {
    position: fixed;
    height: 75px;
    width: 75px;
    background-color: #671700;
    display: block;
    cursor: pointer;
    border-radius: 10px;
    border: 3px solid black;
    
}