* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.tea {
   background-color: #34180f;
}

.tea_box {
    min-height: 100vh;
    font-family: sans-serif;
    padding: 20px;
}

.tea_title {
    text-align: center;
    color: #c7b575;
    font-size: 37px;
    font-weight: 300;

}

.rectangle {
    display: block;
    border: 6px solid #85431e;
    margin: 50px;
   padding: 10px;
   background-color: #cc9c71;
   height: 300px;
   width: 200px;
   border-radius: 20px;
   cursor: pointer;

}


.rec_input {
    display: block;
    width: 105px;
    height: 35px;
    padding: 5px;
    margin-top: 224px;
    margin-left: 35px;
    border: none;
    outline: none;
    border-radius: 10px;
    background-color: transparent;
    text-align: center;
}

input[type=file] {
    display: none;

}

label {
    position: fixed;
    height: 75px;
    width: 75px;
    background-color: #dfc3a7;
    display: block;
    cursor: pointer;
    border-radius: 10px;
    border: 3px solid #673d29;
    top: 23%;
    left: 6.98%;
}

.line1 {
    position: absolute;
    width: 50px;
    height: 5px;
    background-color: #673d29;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100px;
}

.line2 {
    content: '';
    position: absolute;
    width: 5px;
    height: 50px;
    background-color: #673d29;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100px;
}

.add_card {
    position: fixed;
    height: 75px;
    width: 75px;
    background-color: #eaceaa;
    display: block;
    cursor: pointer;
    border-radius: 10px;
    border: 3px solid #85431e;
    top: 23%;
    left: 20%;
}

.card_line1 {
    position: absolute;
    width: 50px;
    height: 5px;
    background-color: #85431e;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100px;
}

.card_line2 {
    content: '';
    position: absolute;
    width: 5px;
    height: 50px;
    background-color: #85431e;
    display: block;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 100px;
}

.imgInput {
    width: 80%;      
  max-width: 100px; 
  height: auto;
}